// -------------------------------
//     GENERAL VARIABLES
// -------------------------------

    // *--------- METRICS ---------*

    $margin-main: 2rem;

    // *--------- TYPOGRAPHY ---------*

    // *--------- COLORS ---------*

// ----------------------------
//     GENERAL STYLES
// ----------------------------

.main {
	margin-top: $margin-main;
	margin-bottom: $margin-main;
}